{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


<body id='d1'>
	<div>
		<p id='t1'> The Perfect Itinerary </p>
		<p id='t2'> Builder </p>
			<div id='box'>
				<h3 id='coming'><a href="{% url 'polls:questionnaire' %}">Coming soon</a></h3>
			</div>
	</div>
	<div id='D2'> 
		<div id='subwords'>
			<p id='t3'> Build Your </p>
			<p id='t3'> Next Holiday </p>
			<p id='t3'> with us </p>
		</div>	
		<div id='subscribe'>
			<p id='coming'> subscribe bitch </p>
		</div>
	</div>
</body>
